{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2>Home</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12 col-md-6 welcome text-center">
                Welcome to Grape Escape, your one stop wine shop. Find in our online store wine for every occasion.
                Whether it be for a picnic in the sunshine, a glass of wine with friends or just to unwind after a long
                day at work.
                You can find it here. Deliver is a standard price whether it be one order six bottles.
            </div>
            <div class="col-12 col-md-6 welcome">
                <div class="week text-center">
                    <strong>Wine of the Week</strong>
                </div>
                {% for wine in wines %}
                <div class="card mx-auto" style="width: 14rem">
                    {% if wine.offer == True %}
                    <img src="{{ MEDIA_URL }}/{{ wine.image }}" class="card-img-top" alt="{{ wine.name }}">
                    <div class="card-body">
                        <h5 class="card-title fs-4 text-center">{{ wine.name }}</h5>
                        <a href="{% url 'wines' %}" class="btn">Shop</a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}