{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container items-container">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h2>Basket</h2>
            <p>Please use landscape for best results</p>
        </div>
    </div>

    <div class="container">
        {% if basket_item %}

        {% for item in basket_item %}
        <div class="row order-item my-2">
            <tr>
                <td>
                    <img src="{{ MEDIA_URL }}/{{ item.wine.image }}" alt="{{ item.wine.name }}">
                </td>
                <td>
                    {{ item.wine.name }}
                </td>
                <br>
                <td>
                    £{{ item.wine.price }}
                </td>
                <td>
                    <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">
                        {% csrf_token %}
                        <input class="form-control qty_input mx-2" type="number" name="quantity"
                            value="{{item.quantity}}" min="1" max="99" data-item_id="{{ item.item.id }}"
                            id="id_qty_{{ item.item.id }}">
                    </form>
                </td>

                <td><a class="update-link text-info mx-3"><strong>Update</strong></a></td>
                <td><a class="remove-item" id="remove_{{ item.item_id }}"><strong>Remove</strong></a></td>
            </tr>
        </div>


        {% endfor %}

        <div class="container">
            <div class="row">
                <div class="col-6 result"><strong>Number of items:{{ basket_count }}</strong></div>
            </div>
            <div>
            <div class="text-left result"><strong>Total Price: £{{ basket_total }}</strong></div>
            <div class="text-left result"><strong>Delivery: £{{ delivery_costs }}</strong></div>
            <div class="text-left result"><strong>Grand Total: £{{ grand_total }}</strong></div>
            </div>
        </div>
        <div class="mx-1 my-1">
            <a href="{% url 'wines' %}" class="btn">Continue Shopping</a>
        </div>
        <div class="mx-1 my-1">
            <a href="{% url 'checkout' %}" class="btn">Checkout</a>
        </div>
    </div>


    {% else %}
    <h3>You have not selected any products</h3>
    <a href="{% url 'wines' %}" class="btn">Continue Shopping</a>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>


{% endblock %}