{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Basket</h1>
        </div>
    </div>
    <div class="row">
        {% if basket_item %}
        <div class="row">
            Total amount
        </div>
        <div class="row">
            items
        </div>
        <div class="row">
            Total amount
        </div>
        {% else %}
        <h3>You have not selected any products</h3>
        <a href="{% url 'wines' %}" class="btn">Continue Shopping</a>
        {% endif %}
    </div>
</div>


{% endblock %}