{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-6">
            <h2>Wines and all</h2>
        </div>
        {% for wine in wines %}
        <div class="col-md-6 col-lg-4 col-xl-3 my-2 mx-0.5">
            <div class="card mx-auto" style="width: 17rem; height: 37rem;">
                <img src="{{ MEDIA_URL }}/{{ wine.image }}" class="card-img-top" alt="{{ wine.name }}" />
                <div class="card-body">
                    <h5 class="card-title">{{ wine.name }}</h5>
                    <p class="card-text" style="height: 6rem;">{{ wine.description }}</p>
                    <p class="card-text">£{{ wine.price }}</p>
                    <form class="form" action="{% url 'item_to_basket' wine.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-6">
                                <p class="mx-auto"><strong>Quantity:</strong></p>
                                <div class="form-group w-60">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ wine.id }}" id="id_qty_{{ wine.id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <input type="submit" class="btn mt-4 mx-3" value="Buy">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="row mb-3">
                            <div class="col-6 text-center">
                                <a href="{% url 'edit_wine' wine.id %}">Edit</a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="{% url 'delete_wine' wine.id %}">Delete</a>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}